services:
    nginx-proxy:
        image: nginx:alpine
        container_name: nginx-proxy
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./nginx/conf.d/:/etc/nginx/conf.d/
            - ./nginx/certs:/etc/nginx/certs:ro
        networks:
            - web_network

networks:
    web_network:
        external: true
